on:
  push:
    branches:
      master

name: 'Trigger: Push action'

jobs: 
  stylecheck:
    name: stylecheck
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: pwd
    - run: ls -la
    - run: less index.md
